# Скопируй в .env.local и заполни - ЭТИ ЖЕ ПЕРЕМЕННЫЕ ДОБАВЬ В NETLIFY Dashboard -> Environment variables
ADMIN_PASSWORD="AlanSport_Bukhara_2026"
ADMIN_SECRET="k8f3m2p9q1x7v4n6b0w5r2t8y3u1a9s4d6g0h2j5"
# Опционально если будешь использовать PostgreSQL (Neon/Supabase) вместо файлов:
# DATABASE_URL="postgresql://user:pass@host/db?sslmode=require"
